.footer__link{
    display: flex;
    text-decoration: none;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

@media screen and (max-width: 320px){
    .footer__link{
      flex-direction: column;
    }
  }