.intro{
  max-width: 984px;
  margin: 0 auto 92px auto;
}

@media screen and (max-width: 1024px){
  .intro{
    max-width: 90.63%;
    margin: 0 auto 64px auto;
  }
}

@media screen and (max-width: 768px){
  .intro{
    max-width: 93.75%;
    margin: 0 auto 64px auto;
  }
}