.cover__title{
  max-width: 560px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  text-align: center;
  color: #ffffff;
  margin: auto auto 32px auto;
}

@media screen and (max-width: 640px){
  .cover__title{
    font-size: 52px;
  }
}

@media screen and (max-width: 460px){
  .cover__title{
    font-size: 44px;
  }
}

@media screen and (max-width: 320px){
  .cover__title{
    font-size: 32px;
    margin: auto auto 16px auto;
  }
}