.cover__title{
  max-width: 560px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.2;
  text-align: center;
  color: #ffffff;
  margin: 0 auto 32px auto;
  z-index: 1;
}

@media screen and (max-width: 320px){
  .cover__title{
    font-size: 32px;
    margin: 0 auto 16px auto;
  }
}